<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GESTOR - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="../../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../../css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="../../../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
          <i class="fas fa-globe"></i>
        </div>
        <div class="sidebar-brand-text mx-3">GESTOR</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Cursos -->
      <li class="nav-item">
        <a class="nav-link" href="../cursos/index.html">
          <i class="fas fa-fw fa-chalkboard"></i>
          <span>Cursos</span>
        </a>
      </li>

      <!-- Nav Item - Ponentes -->
      <li class="nav-item">
        <a class="nav-link" href="../ponentes/index.html">
          <i class="fas fa-fw fa-chalkboard-teacher"></i>
          <span>Ponentes</span>
        </a>
      </li>

      <!-- Nav Item - Asistentes -->
      <li class="nav-item">
        <a class="nav-link" href="../asistentes/index.html">
          <i class="fas fa-fw fa-user-graduate"></i>
          <span>Asistentes</span>
        </a>
      </li>

      <!-- Nav Item - Gastos -->
      <li class="nav-item active">
        <a class="nav-link" href="../gastos/index.html">
          <i class="fas fa-fw fa-dollar-sign"></i>
          <span>Gastos</span>
        </a>
      </li>

      <!-- Nav Item - Correos -->
      <li class="nav-item">
        <a class="nav-link" href="../correos/index.html">
          <i class="fas fa-fw fa-envelope"></i>
          <span>Correos</span>
        </a>
      </li>

      <!-- Nav Item - Encuestas -->
      <li class="nav-item">
        <a class="nav-link" href="../encuestas/index.html">
          <i class="fas fa-fw fa-poll"></i>
          <span>Encuestas</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar static-top">
    
          <!-- Topbar Title -->
          <h5 class="mb-0 font-weight-light text-dark">Nuevo Gasto</h5>
      
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
      
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-dark" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
      
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
      
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Page Navigation -->
        <nav class="pl-5 navbar navbar-expand-lg navbar-dark bg-primary">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Gastos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="presupuestos.html">Presupuestos</a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <form>

            <!-- Content Row -->
          <div class="card shadow my-4">
            <div class="card-header py-3">
              <div class="row">
                <h6 class="col-9 m-0 font-weight-bold text-dark">Paso 1: <small class="muted">Seleccionar curso</small></h6>
              </div>
            </div>
            <div class="collapse show" id="collapseCardPaso2">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" >
                    <thead>
                      <tr>
                        <td>Código</td>
                        <td>Título</td>
                        <td>Primera Sesión</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="custom-control custom-radio">
                            <input type="radio" name="customRadio" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">1234</label>
                          </div>
                        </td>
                        <td><a href="guia_docente.html">Competencia digital del profesorado universitario.</a></td>
                        <td>03/04/2020</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-radio">
                            <input type="radio" name="customRadio" class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2">1346</label>
                          </div>
                        </td>
                        <td><a href="guia_docente.html">Creación de Cuestionarios en Moodle</a></td>
                        <td>22/06/2020</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-radio">
                            <input type="radio" name="customRadio" class="custom-control-input" id="customCheck3">
                            <label class="custom-control-label" for="customCheck3">1345</label>
                          </div>
                        </td>
                        <td><a href="guia_docente.html">Evaluación con cuestionarios en Moodle. CURSO ON-LINE</a></td>
                        <td>24/06/2020</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-radio">
                            <input type="radio" name="customRadio" class="custom-control-input" id="customCheck4">
                            <label class="custom-control-label" for="customCheck4">1423</label>
                          </div>
                        </td>
                        <td><a href="guia_docente.html">Edición de recursos educativos audiovisuales.</a></td>
                        <td>06/07/2020</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-radio">
                            <input type="radio" name="customRadio" class="custom-control-input" id="customCheck5">
                            <label class="custom-control-label" for="customCheck5">1432</label>
                          </div>
                        </td>
                        <td><a href="guia_docente.html">Tratamiento de imágenes digital.</a></td>
                        <td>07/07/2020</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-radio">
                            <input type="radio" name="customRadio" class="custom-control-input" id="customCheck6">
                            <label class="custom-control-label" for="customCheck6">1400</label>
                          </div>
                        </td>
                        <td><a href="guia_docente.html">Competencia digital del profesorado universitario. Herramientas de creación de contenidos.</a></td>
                        <td>09/07/2020</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-radio">
                            <input type="radio" name="customRadio" class="custom-control-input" id="customCheck7">
                            <label class="custom-control-label" for="customCheck7">1401</label>
                          </div>
                        </td>
                        <td><a href="guia_docente.html">Competencia digital del profesorado universitario. Herramientas de gestión del tiempo.</a></td>
                        <td>09/07/2020</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a href="#collapseCardPaso3" class="btn btn-primary mx-auto" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                Siguiente
              </a>
            </div>
          </div>

          <!-- Paso 2 -->
          <!-- DataTales Example -->
          <div class="card shadow my-4">
            <div class="card-header py-3 mb-4 d-sm-flex  align-items-center justify-content-between ">
                <h6 class="col-9 m-0 font-weight-bold text-dark">Paso 2: <small class="muted">Seleccionar ponente</small></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nombre y Apellidos</th>
                      <th>email</th>
                      <th>Facultad / Servicio</th>
                      <th>Departamento</th>
                      <th>Datos de Interés</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="custom-control custom-radio">
                          <input type="radio" name="ponente01" class="custom-control-input" id="ponente01">
                          <label class="custom-control-label" for="ponente01"><a href="../ponentes/detalle.html">Yago Bernabé García</a></td></label>
                        </div>
                      <td>yago.bernabe@uam.es</td>
                      <td>Rectorado</td>
                      <td>UTED</td>
                      <td>Programador</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer">
              <a href="#collapseCardPaso3" class="btn btn-primary mx-auto" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                Siguiente
              </a>
            </div>
          </div>

          <!-- Paso 3 -->
          <div class="card shadow my-4 w-50">
            <div class="card-header py-3 mb-4 d-sm-flex  align-items-center justify-content-between ">
              <h6 class="col-9 m-0 font-weight-bold text-dark">Paso 3: <small class="muted">Confirmar cuenta de pago</small></h6>
            </div>
            <div class="card-body">
              <select name="asd" id="asd" class="custom-select">
                <option value="a1">ES97	2100 4133 24 2200171791</option>
              </select>
            </div>
            <div class="card-footer">
              <a href="#collapseCardPaso3" class="btn btn-primary mx-auto" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                Siguiente
              </a>
            </div>
          </div>


            <!-- Paso 4 -->
            <div class="card shadow my-4">
                <div class="card-header py-3">
                  <div class="row">
                    <h6 class="col-9 m-0 font-weight-bold text-dark">Paso 4: <small class="muted">Detalles</small></h6>
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-row">
                    <div class="col-sm-4">
                      <label for="asd">Tipo de gasto</label>
                      <select name="asd" id="asd" class="custom-select">
                        <option value="1">Propuesta de Gasto</option>
                        <option value="2">Gastos Extras (por concepto)</option>
                        <option value="3">Gastos Extras (por empresa)</option>
                        <option value="4">Gastos de Empresa</option>
                        <option value="5">Gastos Propios</option>
                      </select>
                    </div>
                  </div>
                  <br>
                  <h6>Seleccionar nº de horas <i>(solo PROPUESTA DE GASTO)</i></h6>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <label for="fecha">Fecha</label>
                      <input type="date" name="fecha" id="fecha" class="form-control">
                    </div>
                      <div class="form-group col-md-2">
                        <label for="horas">Nº Horas</label>
                        <input type="number" name="h" id="h" class="form-control">
                      </div>
                      <div class="form-group col-md-2">
                        <label for="precio">€ / hora</label>
                        <input type="number" name="p" id="p" class="form-control">
                      </div>
                      <div class="form-group col-md-2">
                        <label for="total">TOTAL</label>
                        <output name="x" for="h p" class="form-control" readonly></output>
                      </div>
                    </div>
                    <div class="form-row">
                        <h6 class="col-12 mt-4 mb-3">Paso 4 - Especificar gastos <i>(solo GASTOS EXTRAS por concepto)</i></h6>
                        <div class="form-group col-md-2">
                          <label for="fecha">Fecha</label>
                          <input type="date" name="fecha" id="fecha" class="form-control">
                        </div>
                        <div class="form-group col-md-1">
                          <label for="horas">Importe</label>
                          <input type="number" name="horas" id="horas" class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                          <label for="horas">Subtipo</label>
                          <select name="asd" id="er" class="custom-select">
                            <option value="1">Transporte</option>
                            <option value="1">Alojamiento</option>
                            <option value="1">Transporte y Alojamiento</option>
                          </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="concepto">Concepto</label>
                          <input type="text" name="concepto" id="concepto" class="form-control">
                        </div>
                      </div>
                      <div class="form-row">
                        <h6 class="col-12 mt-4 mb-3">Paso 4 - Especificar gastos <i>(solo Gastos Extras por empresa)</i></h6>
                        <div class="form-group col-md-2">
                          <label for="fecha">Fecha</label>
                          <input type="date" name="fecha" id="fecha" class="form-control">
                        </div>
                        <div class="form-group col-md-1">
                          <label for="horas">Importe</label>
                          <input type="number" name="horas" id="horas" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                          <label for="horas">Subtipo</label>
                          <select name="asd" id="er" class="custom-select">
                            <option value="1">Transporte</option>
                            <option value="1">Alojamiento</option>
                            <option value="1">Transporte y Alojamiento</option>
                          </select>
                        </div>
                        <div class="w-100"></div>
                        <div class="form-group col-md-6">
                          <label for="empresa">Empresa</label>
                          <input type="text" name="empresa" id="empresa" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="concepto">Concepto</label>
                          <input type="text" name="concepto" id="concepto" class="form-control">
                        </div>
                      </div>
                      <div class="form-row">
                        <h6 class="col-12 mt-4 mb-3">Paso 4 - Especificar Gastos <i>(solo Gastos Empresa)</i></h6>
                        <div class="form-group col-md-2">
                          <label for="fecha">Fecha</label>
                          <input type="date" name="fecha" id="fecha" class="form-control">
                        </div>
                        <div class="form-group col-md-1">
                          <label for="horas">Importe</label>
                          <input type="number" name="horas" id="horas" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="factura">Factura</label>
                          <input type="text" name="factura" id="factura" class="form-control">
                        </div>
                        <div class="w-100"></div>
                        <div class="form-group col-md-6">
                          <label for="empresa">Empresa</label>
                          <input type="text" name="empresa" id="empresa" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="descripcion">Descripción</label>
                          <input type="text" name="descripcion" id="descripcion" class="form-control">
                        </div>
                      </div>
                      <div class="form-row">
                        <h6 class="col-12 mt-4 mb-3">Paso 4 - Especificar Gastos <i>(solo Gastos Propios)</i></h6>
                        <div class="form-group col-md-2">
                          <label for="fecha">Fecha</label>
                          <input type="date" name="fecha" id="fecha" class="form-control">
                        </div>
                        <div class="form-group col-md-1">
                          <label for="horas">Importe</label>
                          <input type="number" name="horas" id="horas" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="factura">Factura</label>
                          <input type="text" name="factura" id="factura" class="form-control">
                        </div>
                        <div class="w-100"></div>
                        <div class="form-group col-md-6">
                          <label for="concepto">Concepto</label>
                          <input type="text" name="concepto" id="concepto" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="descripcion">Descripción</label>
                          <input type="text" name="descripcion" id="descripcion" class="form-control">
                        </div>
                      </div>
                </div>
                <div class="card-footer">
                    <a href="#collapseCardPaso3" class="btn btn-primary mx-auto" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                      Siguiente
                    </a>
                </div>
              </div>

              <!-- Paso 5 -->
              <div class="card shadow my-4 w-50">
                <div class="card-header py-3 mb-4 d-sm-flex  align-items-center justify-content-between ">
                  <h6 class="col-9 m-0 font-weight-bold text-dark">Paso 5: <small class="muted">Estado del pago</small></h6>
                </div>
                <div class="card-body">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Pagado</label>
                  </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                        <i class="fas fa-paper-plane"></i>
                        </span>
                        <span class="text">Enviar</span>
                    </a>
                </div>
              </div>
    

          </form>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../../vendor/jquery/jquery.min.js"></script>
  <script src="../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../../../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../../js/demo/datatables-demo.js"></script>

</body>

</html>
