<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ASISTENTE - Detalle Curso</title>

  <!-- Custom fonts for this template-->
  <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="../../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
          <i class="fas fa-user-graduate"></i>
        </div>
        <div class="sidebar-brand-text mx-3">ASISTENTE</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-chalkboard"></i>
          <span>Mis cursos</span>
        </a>
      </li>

      <!-- Nav Item - Historial -->
      <li class="nav-item">
        <a class="nav-link" href="historial.html">
          <i class="fas fa-fw fa-list-alt"></i>
          <span>Historial</span></a>
      </li>

      <!-- Nav Item - Inscripción -->
      <li class="nav-item">
        <a class="nav-link" href="inscripcion.html">
          <i class="fas fa-fw fa-user-plus"></i>
          <span>Inscribirse</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <iframe src="topbar_curso.html" width="100%" height="60px" style="border: none;"></iframe>
        <!-- End of Topbar -->

        <!-- Page Navigation -->
        <nav class="pl-5 navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Detalle</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Certificados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="guia_docente.html">¿Guía Docente?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="documentos.html">¿Materiales?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="trabajos.html">¿Mis trabajos?</a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <div class="alert alert-danger mt-4">Aún no has confirmado tu inscripción. <button class="btn btn-link">Confirmar Inscripción</button></div>

            <div class="row">
              <div class="col-sm-12">
                <div class="card my-4">
                  <div class="card-header">
                    Nombre y URL
                  </div>
                  <div class="card-body">
                    <dl class="row">
                      <dt class="col-sm-2">Nombre del curso</dt>
                      <dd class="col-sm-10">
                        <div class="form-group">
                          Bases para la creación de equipos de trabajo efectivos
                        </div>
                      </dd>
                      <dt class="col-sm-2">Edición</dt>
                      <dd class="col-sm-10">
                        <div class="form-group">
                          18
                        </div>
                      </dd>
                      <dt class="col-sm-2">Curso Académico</dt>
                      <dd class="col-sm-10">
                        <div class="form-group">
                          2011/2012
                        </div>
                      </dd>
                      <div class="w-100"></div>
                      <dt class="col-sm-2">URL Moodle</dt>
                      <dd class="col-sm-10">
                        <a href="#">https://.............</a>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
  

          <div class="row">
            <div class="col-sm-12">
              <div class="card my-4">
                <div class="card-header">
                  Detalles
                </div>
                <div class="card-body">
                  <dl class="row">
                    <dt class="col-sm-2">Fecha Inicio</dt>
                    <dd class="col-sm-10">
                      10/10/2011
                    </dd>
                    <dt class="col-sm-2">Fecha Fin</dt>
                    <dd class="col-sm-10">
                      29/05/2012
                    </dd>
                    <dt class="col-sm-2">Estado</dt>
                    <dd class="col-sm-10">
                      <span class="badge badge-success">En curso</span>
                    </dd>
                    <dt class="col-sm-2">Estado Inscripción</dt>
                    <dd class="col-sm-10">
                      <span class="badge badge-success">Confirmado</span>
                    </dd>
                    <dt class="col-sm-2">Certificados</dt>
                    <dd class="col-sm-10">
                      <span class="badge badge-danger">No Generados</span>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-dark" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-dark" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../js/sb-admin-2.min.js"></script>
  <script src="../../js/lauam__custom.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../js/demo/datatables-demo.js"></script>

</body>

</html>
