<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ASISTENTE - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion toggled" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon">
      <i class="fas fa-user-graduate"></i>
    </div>
    <div class="sidebar-brand-text mx-3">ASISTENTE</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-chalkboard"></i>
      <span>Mis cursos</span>
    </a>
  </li>

  <!-- Nav Item - Historial -->
  <li class="nav-item active">
    <a class="nav-link" href="historial.html">
      <i class="fas fa-fw fa-list-alt"></i>
      <span>Historial</span></a>
  </li>

  <!-- Nav Item - Inscripción -->
  <li class="nav-item">
    <a class="nav-link" href="inscripcion.html">
      <i class="fas fa-fw fa-user-plus"></i>
      <span>Inscribirse</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    
          <!-- Topbar Title -->
          <h5 class="mb-0 font-weight-light text-dark">Mi Historial</h5>
      
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
      
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-dark" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
      
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
      
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Mi Historial en Formación Docente</h1>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Descargar
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">PDF</a>
                <a class="dropdown-item" href="#">Excel</a>
              </div>
            </div>
          </div>

          <!-- Pildoritas Resumen-->
          <div class="row mt-4">

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Cursos Realizados</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">7</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-list-alt fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Créditos ECTS</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-book fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Horas Presenciales</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">120</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-chalkboard-teacher fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tasks Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Horas No Presenciales</div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">0</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-chalkboard fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-6 col-md-6 mb-4">
              <div class="card shadow mt-4">
                <div class="card-header py-3 mb-4 d-sm-flex  align-items-center justify-content-between ">
                  <h6 class="m-0 font-weight-bold text-primary">
                    Tipo de Formación
                  </h6>
                </div>
                <div class="card-body">
                  <dl class="row">
                    <dt class="col-sm-9">Programa de Formación Predoctoral</dt>
                    <dd class="col-sm-3">0 ECTS</dd>
                    <dt class="col-sm-9">Programa de Formación Inicial</dt>
                    <dd class="col-sm-3">1 ECTS</dd>
                    <dt class="col-sm-9">Programa de Formación Continua</dt>
                    <dd class="col-sm-3">2 ECTS</dd>
                    <dt class="col-sm-9">Resto de Programa de Formación</dt>
                    <dd class="col-sm-3">2 ECTS</dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
              <div class="card shadow mt-4">
                <div class="card-header py-3 mb-4 d-sm-flex  align-items-center justify-content-between ">
                  <h6 class="m-0 font-weight-bold text-primary">
                    Área de Conocimiento
                  </h6>
                </div>
                <div class="card-body">
                  <dl class="row">
                    <dt class="col-sm-9">Desarrollo docente general e investigación</dt>
                    <dd class="col-sm-3">0 ECTS</dd>
                    <dt class="col-sm-9">Metodologías docentes</dt>
                    <dd class="col-sm-3">1 ECTS</dd>
                    <dt class="col-sm-9">Tecnologías de la información</dt>
                    <dd class="col-sm-3">1 ECTS</dd>
                    <dt class="col-sm-9">Idiomas</dt>
                    <dd class="col-sm-3">1 ECTS</dd>
                    <dt class="col-sm-9">Idiomas (Plan DOING)</dt>
                    <dd class="col-sm-3">0 ECTS</dd>
                    <dt class="col-sm-9">Cursos Moodle</dt>
                    <dd class="col-sm-3">2 ECTS</dd>
                    <dt class="col-sm-9">Tecnologías educativas para la docencia</dt>
                    <dd class="col-sm-3">0 ECTS</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>

          <div class="card shadow mt-4">
            <div class="card-header py-3 mb-4 d-sm-flex  align-items-center justify-content-between ">
              <h6 class="m-0 font-weight-bold text-primary">
                Programa de Formación Inicial
              </h6>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Horas Presenciales</th>
                    <th>Horas No Presenciales</th>
                    <th>ECTS</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="5">Curso 2011/2012</td>
                    </tr>
                    <tr>
                      <td>481</td>
                      <td>Bases para la creación de equipos de trabajo efectivos</td>
                      <td>0</td>
                      <td>8</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>480</td>
                      <td>Mapas conceptuales</td>
                      <td>8</td>
                      <td>18</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>486</td>
                      <td>Elaboración de presentaciones digitales</td>
                      <td>12</td>
                      <td>6</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td colspan="5">Curso 2010/2011</td>
                    </tr>
                    <tr>
                      <td>422</td>
                      <td>Gestión de equipos</td>
                      <td>0</td>
                      <td>8</td>
                      <td>1</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
          
          <div class="card shadow mt-4">
            <div class="card-header py-3 mb-4 d-sm-flex  align-items-center justify-content-between ">
              <h6 class="m-0 font-weight-bold text-primary">
                Programa de Formación CONTINUA
              </h6>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Horas Presenciales</th>
                    <th>Horas No Presenciales</th>
                    <th>ECTS</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="5">Curso 2011/2012</td>
                    </tr>
                    <tr>
                      <td>481</td>
                      <td>Gestión y corrección de exámenes con GEXCAT</td>
                      <td>0</td>
                      <td>8</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>480</td>
                      <td>Gestión Inteligente del Tiempo para Docentes</td>
                      <td>8</td>
                      <td>18</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>486</td>
                      <td>El papel de la ANECA en el desarrollo y evaluación de la carrera docente: Programa ACADEMIA para la Acreditación Nacional</td>
                      <td>12</td>
                      <td>6</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td colspan="5">Curso 2010/2011</td>
                    </tr>
                    <tr>
                      <td>422</td>
                      <td>La palabra en acción</td>
                      <td>0</td>
                      <td>8</td>
                      <td>1</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          
          </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-dark" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-dark" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../js/demo/chart-area-demo.js"></script>
  <script src="../../js/demo/chart-pie-demo.js"></script>

</body>

</html>
