<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GESTOR - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="../../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../../css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="../../../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon">
              <i class="fas fa-globe"></i>
            </div>
            <div class="sidebar-brand-text mx-3">GESTOR</div>
          </a>
    
          <!-- Divider -->
          <hr class="sidebar-divider my-0">
    
          <!-- Nav Item - Cursos -->
          <li class="nav-item active">
            <a class="nav-link" href="../cursos/">
              <i class="fas fa-fw fa-chalkboard"></i>
              <span>Cursos</span>
            </a>
          </li>
    
          <!-- Nav Item - Ponentes -->
          <li class="nav-item">
            <a class="nav-link" href="../ponentes/">
              <i class="fas fa-fw fa-chalkboard-teacher"></i>
              <span>Ponentes</span>
            </a>
          </li>
    
          <!-- Nav Item - Asistentes -->
          <li class="nav-item">
            <a class="nav-link" href="../asistentes/">
              <i class="fas fa-fw fa-user-graduate"></i>
              <span>Asistentes</span>
            </a>
          </li>
    
          <!-- Nav Item - Gastos -->
          <li class="nav-item">
            <a class="nav-link" href="../gastos/">
              <i class="fas fa-fw fa-dollar-sign"></i>
              <span>Gastos</span>
            </a>
          </li>
    
          <!-- Nav Item - Correos -->
          <li class="nav-item">
            <a class="nav-link" href="../correos/">
              <i class="fas fa-fw fa-envelope"></i>
              <span>Correos</span>
            </a>
          </li>
    
          <!-- Nav Item - Encuestas -->
          <li class="nav-item">
            <a class="nav-link" href="../encuestas/">
              <i class="fas fa-fw fa-poll"></i>
              <span>Encuestas</span>
            </a>
          </li>
    
          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">
    
          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>
    
        </ul>
        <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <iframe src="topbar_curso.html" width="100%" height="60px" style="border: none;"></iframe>
        <!-- End of Topbar -->

        <!-- Page Navigation -->
        <nav class="pl-5 navbar navbar-expand-lg navbar-dark bg-primary">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="detalle.html">Detalle</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="ponentes.html">Ponentes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="asistentes.html">Asistentes</a>
              </li>
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="correos.html" role="button" aria-haspopup="true" aria-expanded="false">Correos</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="correos.html">Plantillas</a>
                  <a class="dropdown-item" href="correos_envio.html">Realizar Envío</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gastos.html">Gastos</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="encuestas.html">Feedback</a>
              </li>
            </ul>
            <button class="btn btn-light">
              <i class="fas fa-fw fa-clone"></i> Replicar Curso
            </button>
          </div>
        </nav>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          
          <!-- DataTales Example -->
          <div class="card shadow my-4">
            <div class="card-header py-3 mb-4 d-sm-flex  align-items-center justify-content-between">
              <h6>Encuesta a Ponente: Yago Bernabé</h6>
            </div>
            <div class="card-body">
              <h3 class="lead">Datos Personales</h3>
              <dl class="row">
                <dt class="col-sm-3">Nombre y Apellidos</dt>
                <dd class="col-sm-9">José Menese</dd>
                <dt class="col-sm-3">Facultad</dt>
                <dd class="col-sm-9">Profesorado</dd>
                <dt class="col-sm-3">Categoría</dt>
                <dd class="col-sm-9">PDI</dd>
              </dl>

              <h3 class="lead">Preguntas y Respuestas</h3>
              <dl class="row">
                
                <dt class="col-sm-8">1. La comunicación con la coordinación del programa es fluida</dt>
                <dd class="col-sm-2">
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">4/4</div>
                  </div>
                </dd>
                <dt class="col-sm-8">2. Ha sido fácil determinar los contenidos de la guía docente para este curso</dt>
                <dd class="col-sm-2">
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">1/4</div>
                  </div>
                </dd>
                <dt class="col-sm-8">3. El curso que imparto se articula adecuadamente con el programa de formación</dt>
                <dd class="col-sm-2">
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">4/4</div>
                  </div>
                </dd>
                <dt class="col-sm-8">4. En general me encuentro satisfecho/a participando en el programa</dt>
                <dd class="col-sm-2">
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">2/4</div>
                  </div>
                </dd>
                <dt class="col-sm-8">5. La duración del curso permite el desarrollo adecuado de los contenidos</dt>
                <dd class="col-sm-2">
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">4/4</div>
                  </div>
                </dd>
                <dt class="col-sm-8">6. He conseguido desarrollar las competencias planteadas en la guía docente</dt>
                <dd class="col-sm-2">
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">4/4</div>
                  </div>
                </dd>
                <dt class="col-sm-8">7. He dispuesto del material necesario para el desarrollo del curso</dt>
                <dd class="col-sm-2">
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">2/4</div>
                  </div>
                </dd>
                <dt class="col-sm-8">8. EL aula en la que se ha desarrollado el curso es apropiada</dt>
                <dd class="col-sm-2">
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">2/4</div>
                  </div>
                </dd>
                <dt class="col-sm-8">9. Los/las participantes mostraron interés por el curso</dt>
                <dd class="col-sm-2">
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">4/4</div>
                  </div>
                </dd>
                <dt class="col-sm-8">10. Los/las participantes tenían la formación necesaria para el desarrollo del curso</dt>
                <dd class="col-sm-2">
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">3/4</div>
                  </div>
                </dd>
                <dt class="col-sm-8">11. Me encuentro interesado/a en volver a impartir este curso en la UAM</dt>
                <dd class="col-sm-2">
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">4/4</div>
                  </div>
                </dd>
                <dt class="col-sm-8">12. La compensación económica es adecuada a las horas dedicadas=</dt>
                <dd class="col-sm-2">
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">4/4</div>
                  </div>
                </dd>
              </dl>

              <h3 class="lead">Comentarios</h3>
              <dl class="row">
                  <dt class="col-sm-3">Respecto al Curso</dt>
                  <dd class="col-sm-9">Me ha gustado mucho</dd>
                  <dt class="col-sm-3">Respecto al Programa en General</dt>
                  <dd class="col-sm-9">Me he encontrado muy a gusto con los organizadores. ¡Un 10!</dd>
              </dl>
            </div>
          </div>
          
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../../vendor/jquery/jquery.min.js"></script>
  <script src="../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../../js/sb-admin-2.min.js"></script>
  <script src="../../../js/lauam__custom.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../../../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../../js/demo/datatables-demo.js"></script>

</body>

</html>
