<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PONENTE - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
          <i class="fas fa-chalkboard-teacher"></i>
        </div>
        <div class="sidebar-brand-text mx-3">PONENTE</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Inicio</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      
      <!-- Heading -->
      <div class="sidebar-heading">
        Formación Predoctoral
      </div>

      <!-- Nav Item - Curso 1 Menu -->
      <li class="nav-item active">
        <a class="nav-link" href="guia_docente.html">
          <i class="fas fa-fw fa-chalkboard"></i>
          <span>Curso 481 - 2011/2012</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Formación Inicial
      </div>

      <!-- Nav Item - Curso 2 Menu -->
      <li class="nav-item">
        <a class="nav-link" href="guia_docente.html">
          <i class="fas fa-fw fa-chalkboard"></i>
          <span>Curso 451 - 2010/2011</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <iframe src="../topbar.html" width="100%" height="95px" style="border: none;"></iframe>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Curso 2011/2012 de "Bases para la creación de equipos de trabajo efectivos"</h1>
          </div>

          <!-- Page Navigation -->
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active disabled" href="guia_docente.html">Guía</a>
            </li>
            <li>
              <a class="nav-link" href="documentos.html">Documentos</a>
            </li>
            <li>
              <a class="nav-link" href="trabajos.html">Trabajos</a>
            </li>
            <li>
              <a class="nav-link" href="informe.html">Informe</a>
            </li>
            <li>
              <a class="nav-link disabled" href="gastos.html">Gastos</a>
            </li>
            <li>
              <a class="nav-link disabled" href="asistentes.html">Asistentes</a>
            </li>
          </ul>


          <!-- Content Row -->
          <div class="row">
          
            <!-- Form Guia Docente -->
            <table class="azul_negro11" width="900">
              <tbody>
                <tr> <td align="right" colspan="2"><a href="./print_acceso_coordinadores.php?codigo_modulo=481" target="_blank" class="azul_negro11">[ Quiero visualizar mi guía docente y poder imprimirla ]</a></td>
                </tr> 
                <tr valign="top">
                <td>Guía docente </td>
                <td><b>2011/2012</b> de <b>"Bases para la creación de equipos de trabajo efectivos" </b></td>
                </tr>
                
                <tr valign="top">
                <td>Título</td>
                <td><textarea name="titulo_modulo" rows="1" cols="110" style="font-size:8pt;font-family:Verdana;text_align:right;">Bases para la creación de equipos de trabajo efectivos</textarea>
                </td></tr>
                
                <tr valign="top">
                <td>Créditos ECTS</td>
                <td class="gris_oscuro10"><input type="text" name="creditos_ects" style="width:50px;height:20px;font-size:8pt;font-family:Verdana;text_align:right;" value="1">&nbsp;&nbsp;(1 crédito ECTS = 25 horas de trabajo presencial y no presencial)</td>
                </tr>
                
                <tr valign="top">
                <td>Horas presenciales</td>
                <td><input size="3" type="text" name="horas_presenciales" style="width:50px;height:20px;font-size:8pt;font-family:Verdana;text_align:right;" value="8"></td>
                </tr>
                
                <tr valign="top">
                <td>Horas no presenciales</td>
                <td><input size="3" type="text" name="horas_no_presenciales" style="width:50px;height:20px;font-size:8pt;font-family:Verdana;text_align:right;" value="17"></td>
                </tr>
                
                <tr valign="top">
                <td>Objetivos</td>
                <td><textarea name="objetivos" rows="4" cols="110" style="font-size:8pt;font-family:Verdana;text_align:right;">1) Conocer los parámetros básicos para la creación de equipos de trabajo efectivo.&lt;br&gt;
                2) Vincular de forma práctica los contenidos del curso con ejercicios que permitan reflexionar sobre su aplicación al ámbito académico-investigador.</textarea></td>
                </tr>
                
                <tr valign="top">
                <td>Contenidos</td>
                <td><textarea name="contenidos" rows="4" cols="110" style="font-size:8pt;font-family:Verdana;text_align:right;">• ¿De verdad necesitamos los equipos?&lt;br&gt;
                • Modelo de comportamiento grupal: procesos y dinámicas grupales que afectan al rendimiento y la satisfacción de los equipos de trabajo.&lt;br&gt;
                • Ser capaces de comprometerse con un objetivo común: establecimiento de misiones y objetivos.&lt;br&gt;
                • Cohesión y confianza grupal. &lt;br&gt;
                • Complementariedad de roles y sinergia en el trabajo en equipo &lt;br&gt;
                • Comunicación y eficacia colectiva &lt;br&gt;
                • Creación y dirección de equipos: reflexiones para el ámbito académico-investigador</textarea></td>
                </tr>
                
                <tr valign="top">
                <td>Competencias a adquirir</td>
                <td><textarea name="competencias" rows="4" cols="110" style="font-size:8pt;font-family:Verdana;text_align:right;">1) Comprender y apreciar los aspectos fundamentales que afectan a los procesos y resultados de los equipos en el ámbito académico-investigador.&lt;br&gt;
                2) Conocer el método de aprendizaje experiencial y su capacidad para facilitar la reflexión y el cambio en los equipos de trabajo
                </textarea></td>
                </tr>
                
                <tr valign="top">
                <td>Metodología docente</td>
                <td><textarea name="metodologia" rows="4" cols="110" style="font-size:8pt;font-family:Verdana;text_align:right;">El método docente a seguir fomentará el aprendizaje experiencial y basado en problemas. Los distintos puntos a tratar contarán con una parte de aclaración de contenidos y estrategias de actuación, así como una parte de dinámica grupal en las que se promoverá la discusión y el análisis de los contenidos y estrategias y su aplicación a nuestro ámbito laboral.</textarea></td>
                </tr>
                
                <tr valign="top">
                <td>Sistema de evaluación</td>
                <td><textarea name="evaluacion" rows="4" cols="110" style="font-size:8pt;font-family:Verdana;text_align:right;">Participación en las dinámicas que componen el seminario y evaluación de trabajo no presencial.</textarea></td>
                </tr>
                
                <tr valign="top">
                <td>Descripción de las actividades presenciales</td>
                <td><textarea name="descripcion_presencial" rows="4" cols="110" style="20px;font-size:8pt;font-family:Verdana;text_align:right;">El elemento esencial del seminario serán las dinámicas grupales que, trabajados por los asistentes, estarán orientados a profundizar, experimentar y aprender los contenidos del programa con el fin de que puedan aplicarlos a sus situaciones profesionales concretas. </textarea></td>
                </tr>
                
                <tr valign="top">
                <td>Descripción de las actividades no presenciales</td>
                <td><textarea name="descripcion_no_presencial" rows="4" cols="110" style="font-size:8pt;font-family:Verdana;text_align:right;">Identificación de un problema que amenaza la efectividad en su equipo investigador o docente y propuesta de un ejercicio que promueva la toma de consciencia del problema, su análisis y búsqueda de soluciones.</textarea></td>
                </tr>
                
                <tr valign="top">
                <td>Referencia de consultas básica (bibliografía, URL...)</td>
                <td><textarea name="referencia_consultas" rows="4" cols="110" style="font-size:8pt;font-family:Verdana;text_align:right;">West, M.A. (2003). El trabajo eficaz en equipo: 1+1=3. Barcelona: Paidós Plural.
                West, M.A. (2004). Los secretos de la gestión de los equipos de trabajo. Barcelona: Blume Empresa.
                Steward, G.L., Manz, C.M. &amp; Sims, H.P. (2003). Trabajo en Equipo y Dinámica de Grupos. Mexico:Limusa-Wiley.</textarea></td>
                </tr>
                
                <tr valign="top">
                <td>Nº de asistentes máximos</td>
                <td><input type="text" name="num_asistentes" style="width:30px;height:20px;font-size:8pt;font-family:Verdana;text_align:right;" value="20"></td>
                </tr>
                
                <tr valign="top">
                <td>Recursos materiales necesarios para impartir el curso (pc, cañón, papelógrafo...)</td>
                <td><textarea name="recursos_materiales" rows="4" cols="110" style="font-size:8pt;font-family:Verdana;text_align:right;">Cañón, pc, pizarra blanca o similar, un aula en la que las mesas y las sillas puedan moverse con facilidad para hacer dinámicas grupales.</textarea></td>
                </tr>
                
                <tr valign="top">
                <td>Información de interés para los participantes</td>
                <td><textarea name="info_interes" rows="4" cols="110" style="font-size:8pt;font-family:Verdana;text_align:right;">Asistir con ropa y calzado cómodo</textarea></td>
                </tr>
                
                <tr>
                <td colspan="2" align="middle"><input type="submit" value="Actualizar Guía Docente" style="width:240px;height:30px;font-size:10pt;font-family:Verdana;text_align:right;" name="operacion"></td>        
                </tr> 
              </tbody>
            </table>
          </div>

          <!-- Content Row -->
          <div class="row">
            <table class="azul_negro11" width="700">
              <tbody>
                <tr><td colspan="9">Fechas en las que se va a impartir la acción formativa</td></tr>
                <tr>                 
                    <th>&nbsp;</th>  
                    <th align="left">Dia</th>                    
                    <th align="left">Mes</th>
                    <th align="left">Año</th>
                    <th align="left">Hora inicio</th>
                    <th align="left">Hora final</th>
                    <th align="left">Lugar de realización</th>
                    <th align="left">Facultad de realización</th>                
                </tr>
                <tr>
                  <td></td>
                  <td>25</td>
                  <td>1</td>
                  <td>2012</td>
                  <td>09:30</td>
                  <td>13:30</td>
                  <td>Sala D, 2ª entreplanta del edificio del </td>
                  <td>Rectorado</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>26</td>
                  <td>1</td>
                  <td>2012</td>
                  <td>09:30</td>
                  <td>13:30</td>
                  <td>Sala D, 2ª entreplanta del edificio del </td>
                  <td>Rectorado</td>
                </tr>                 
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-secondary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../js/demo/chart-area-demo.js"></script>
  <script src="../../js/demo/chart-pie-demo.js"></script>

</body>

</html>
