<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PONENTE - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="../../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon">
      <i class="fas fa-chalkboard-teacher"></i>
    </div>
    <div class="sidebar-brand-text mx-3">PONENTE</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-chalkboard"></i>
      <span>Mis cursos</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Cursos
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>Curso 1369</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="guia_docente.html">Guía</a>
        <a class="collapse-item" href="documentos.html">Materiales</a>
        <a class="collapse-item" href="trabajos.html">Trabajos</a>
        <a class="collapse-item" href="informe.html">Informe</a>
        <a class="collapse-item" href="asistentes.html">Asistentes</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

      <!-- Topbar -->
      <iframe src="topbar_curso.html" width="100%" height="60px" style="border: none;"></iframe>
      <!-- End of Topbar -->

      <!-- Page Navigation -->
      <nav class="pl-5 navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Detalle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="guia_docente.html">Guía Docente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="documentos.html">Materiales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="trabajos.html">Trabajos</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="informe.html">Informe</a>
            </li>
          </ul>
        </div>
      </nav>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Pildoritas Resumen-->
          <div class="row mt-4">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Encuestas / Asistentes</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">19 / 20</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Valoración Media</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">3,72</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tasks Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Aptos</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">70%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Comentarios</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">4</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Datos -->
          <div class="card shadow my-4">
            <div class="card-header mb-4 d-sm-flex align-items-center justify-content-between ">
              <h6>Datos/Información</h6>
            </div>
            <div class="card-body">  
              <dl class="row">
                <dt class="col-sm-3">Curso</dt>
                <dd class="col-sm-9">Bases para la creación de equipos de trabajo efectivos</dd>
                <dt class="col-sm-3">Año</dt>
                <dd class="col-sm-9">2011/2012</dd>
                <dt class="col-sm-3">Tipo de formación</dt>
                <dd class="col-sm-9">Formación Inicial</dd>
                <dt class="col-sm-3">Ponente</dt>
                <dd class="col-sm-9">Ramón Rico Muñoz</dd>
                <dt class="col-sm-3">Nº de Asistentes</dt>
                <dd class="col-sm-9">20</dd>
                <dt class="col-sm-3">Nº de Encuestas</dt>
                <dd class="col-sm-9">19</dd>
              </dl>
            </div>
          </div>

          <!-- Resultados -->
          <div class="card shadow my-4">
            <div class="card-header d-sm-flex align-items-center justify-content-between ">
              <h6>Resultados</h6>
            </div>
            <div class="card-body"> 
              <p>
                A continuación se muestra la media aritmética y desviación estándar tanto de las respuestas sobre
                el curso como de todas las acciones formativas del Programa. La escala de satisfacción es del 1 al
                4, siendo 1 muy en desacuerdo y 4 muy de acuerdo.
              </p>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Media Curso</th>
                    <th scope="col">Desviación Curso</th>
                    <th scope="col">Media UAM</th>
                    <th scope="col">Desviación UAM</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-secondary">
                    <th>Planificación y desarrollo del curso</th>
                    <td>3.72</td>
                    <td>0.33</td>
                    <td>3.55</td>
                    <td>0.52</td>
                  </tr>
                  <tr>
                    <td>Para conseguir los objetivos propuestos en la guía docente se debe aumentar el
                      Nº de horas presenciales (Esta pregunta NO computa para los cálculos globales)</td>
                    <td>3.72</td>
                    <td>0.33</td>
                    <td>3.55</td>
                    <td>0.52</td>
                  </tr>
                  <tr>
                    <td>Los contenidos se ajustan a la guía docente</td>
                    <td>3.72</td>
                    <td>0.33</td>
                    <td>3.55</td>
                    <td>0.52</td>
                  </tr>
                  <tr>
                    <td>La metodología permite adquirir las competencias planteadas</td>
                    <td>3.72</td>
                    <td>0.33</td>
                    <td>3.55</td>
                    <td>0.52</td>
                  </tr>
                  <tr>
                    <td>La documentación entregada es completa</td>
                    <td>3.72</td>
                    <td>0.33</td>
                    <td>3.55</td>
                    <td>0.52</td>
                  </tr>
                  <tr>
                    <td>Los recursos audiovisuales y materiales de apoyo son adecuados</td>
                    <td>3.72</td>
                    <td>0.33</td>
                    <td>3.55</td>
                    <td>0.52</td>
                  </tr>
                  <tr class="table-secondary">
                    <th>Impacto de la acción formativa</th>
                    <td>3.72</td>
                    <td>0.33</td>
                    <td>3.55</td>
                    <td>0.52</td>
                  </tr>
                  <tr>
                    <td>Los temas vistos han contribuido a desarrollar mis competencias docentes y/o
                      investigadoras</td>
                    <td>3.72</td>
                    <td>0.33</td>
                    <td>3.55</td>
                    <td>0.52</td>
                  </tr>
                  <tr class="table-secondary">
                    <th>Valoración sobre el formador</th>
                    <td>3.72</td>
                    <td>0.33</td>
                    <td>3.55</td>
                    <td>0.52</td>
                  </tr>
                  <tr>
                    <td>El/La ponente ha demostrado buenas habilidades para impartir el curso</td>
                    <td>3.72</td>
                    <td>0.33</td>
                    <td>3.55</td>
                    <td>0.52</td>
                  </tr>
                  <tr>
                    <td>Recomendaría a este ponente para que siga impartiendo este curso en futuras
                      ediciones</td>
                    <td>3.72</td>
                    <td>0.33</td>
                    <td>3.55</td>
                    <td>0.52</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Comentarios -->
          <div class="card shadow my-4">
            <div class="card-header d-sm-flex align-items-center justify-content-between ">
              <h6>Comentarios</h6>
            </div>
            <div class="card-body"> 
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                  <div class="card">
                    <div class="card-body">
                      <blockquote class="blockquote font-italic">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <div class="card-body">
                      <blockquote class="blockquote font-italic">
                        <p>Quisque auctor justo quis diam condimentum, viverra ullamcorper elit posuere. Sed sit amet sagittis sapien, vel auctor justo. Integer eu eros congue lectus porttitor lobortis eu id nibh.</p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <div class="card-body">
                      <blockquote class="blockquote font-italic">
                        <p>In maximus arcu enim, at dignissim turpis auctor ut.</p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <div class="card-body">
                      <blockquote class="blockquote font-italic">
                        <p>Nam congue velit mauris, in sollicitudin magna rhoncus a. Nam egestas, est nec accumsan volutpat, urna urna lobortis felis, nec volutpat sapien ligula vel nisi.</p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-dark" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-dark" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../js/demo/datatables-demo.js"></script>

</body>

</html>
